.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip {
  position: absolute;
  padding: 8px 12px;
  font-size: 14px;
  white-space: nowrap;
  border: 1px solid var(--tooltip-border-color);
  background: var(--tooltip-background-color);
}
