.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip {
  position: absolute;
  padding: 8px 12px;
  font-size: 14px;
  white-space: nowrap;
  border: 1px solid var(--tooltip-border-color);
  background: var(--tooltip-background-color);
}

/* TOP */
.tooltip.top {
  animation: fadeInTop 0.15s ease-in-out;
  top: calc(var(--tooltip-margin) * -1);
  transform: translateX(50%) translateY(-100%);
  right: 50%;
}

/* TOP ARROWS */
.tooltip.top::before {
  content: "";
  display: block;
  position: absolute;
  left: calc(50% - var(--tooltip-arrow-size));
  top: 100%;
  border: var(--tooltip-arrow-size) solid transparent;
  border-top-color: var(--tooltip-border-color);
}

.tooltip.top::after {
  content: "";
  display: block;
  position: absolute;
  left: calc(50% - var(--tooltip-arrow-size) + 1px);
  top: 100%;
  border: calc(var(--tooltip-arrow-size) - 1px) solid transparent;
  border-top-color: white;
}

/* RIGHT */
.tooltip.right {
  left: calc(100% + var(--tooltip-margin));
  top: 50%;
  transform: translateX(0) translateY(-50%);
  animation: fadeInRight 0.15s ease-in-out;
}

/* RIGHT ARROWS */
.tooltip.right::before {
  content: "";
  display: block;
  position: absolute;
  top: calc(50% - var(--tooltip-arrow-size));
  right: 100%;
  border: var(--tooltip-arrow-size) solid transparent;
  border-right-color: var(--tooltip-border-color);
}

.tooltip.right::after {
  content: "";
  display: block;
  position: absolute;
  top: calc(50% - var(--tooltip-arrow-size) + 1px);
  right: 100%;
  border: calc(var(--tooltip-arrow-size) - 1px) solid transparent;
  border-right-color: white;
}

/* LEFT */
.tooltip.left {
  right: calc(100% + var(--tooltip-margin));
  top: 50%;
  transform: translateX(0) translateY(-50%);
  animation: fadeInLeft 0.15s ease-in-out;
}

/* LEFT ARROWS */
.tooltip.left::before {
  content: "";
  display: block;
  position: absolute;
  top: calc(50% - var(--tooltip-arrow-size));
  left: 100%;
  border: var(--tooltip-arrow-size) solid transparent;
  border-left-color: var(--tooltip-border-color);
}

.tooltip.left::after {
  content: "";
  display: block;
  position: absolute;
  top: calc(50% - var(--tooltip-arrow-size) + 1px);
  left: 100%;
  border: calc(var(--tooltip-arrow-size) - 1px) solid transparent;
  border-left-color: white;
}

/* BOTTOM */
.tooltip.bottom {
  bottom: calc(var(--tooltip-margin) * -1);
  animation: fadeInBottom 0.15s ease-in-out;
  transform: translateX(-50%) translateY(100%);
  left: 50%;
}

/* BOTTOM ARROWS */
.tooltip.bottom::before {
  content: "";
  display: block;
  position: absolute;
  left: calc(50% - var(--tooltip-arrow-size));
  bottom: 100%;
  border: var(--tooltip-arrow-size) solid transparent;
  border-bottom-color: var(--tooltip-border-color);
}

.tooltip.bottom::after {
  content: "";
  display: block;
  position: absolute;
  left: calc(50% - var(--tooltip-arrow-size) + 1px);
  bottom: 100%;
  border: calc(var(--tooltip-arrow-size) - 1px) solid transparent;
  border-bottom-color: white;
}

@mixin animation($name, $fromX, $toX, $fromY, $toY, $fromZ, $toZ) {
  @keyframes #{$name} {
    from {
      transform: translate3d($fromX, $fromY, $fromZ);
    }
    to {
      transform: translate3d($toX, $toY, $toZ);
    }
  }
}

@include animation(fadeInTop, 50%, 50%, calc(-100% - 10px), -100%, 0, 0);
@include animation(fadeInRight, 10px, 0, -50%, -50%, 0, 0);
@include animation(fadeInBottom, -50%, -50%, calc(100% + 10px), 100%, 0, 0);
@include animation(fadeInLeft, -10px, 0, -50%, -50%, 0, 0);
